<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
body {
  background-image: url(ww.jpg);
}
</style>
</head>

<body bgcolor="#657383">
<h1>2 number add</h1>
<a href="{{link}}">home</a>
<form action="exp" method="post">
    {% csrf_token %}
    fist no:<input type="text" name="text1"><br>
    scnd no:<input type="text" name="text2"><br>
    <input type="submit">

    <a href="b.html">sinup</a>

    <li><a href="app2/sinup">regi</a></li>



</form>
</body>
</html>
